<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.rabtman.acgcomic">

  <application
    android:label="@string/acgcomic_module_name"
    tools:replace="android:label">
    <activity
      android:name=".mvp.ui.activity.OacgComicDetailActivity"
      android:screenOrientation="portrait" />

    <activity
      android:name=".mvp.ui.activity.OacgComicReadActivity"
      android:screenOrientation="portrait" />

    <meta-data
      android:name="com.rabtman.acgcomic.base.AcgComicConfig"
      android:value="ConfigModule" />
  </application>
</manifest>