<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.rabtman.common">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:allowBackup="true"
    android:label="common"
    android:supportsRtl="true"
    android:usesCleartextTraffic="true"
    tools:replace="android:label"
    tools:targetApi="m">


    <!--Umeng Share -->
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:exported="false"
      android:name="com.umeng.socialize.media.WBShareCallBackActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:exported="false"
      android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
      android:windowSoftInputMode="adjustResize">

    </activity>
    <activity
      android:launchMode="singleTask"
      android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
      <intent-filter>
        <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

    </activity>

    <activity
      android:launchMode="singleTask"
      android:name="com.umeng.qq.tencent.AuthActivity"
      android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="tencent1106419823" />
      </intent-filter>
    </activity>

    <activity
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:name="com.umeng.qq.tencent.AssistActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <activity
      android:excludeFromRecents="true"
      android:name="com.umeng.socialize.editorpage.ShareActivity"
      android:theme="@style/Theme.UMDefault" />
    <!--Umeng Share end-->
  </application>
</manifest>
