<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.rabtman.common">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:allowBackup="true"
    android:label="common"
    android:supportsRtl="true"
    android:usesCleartextTraffic="true"
    tools:replace="android:label"
    tools:targetApi="m">

  </application>
</manifest>
