<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.rabtman.acgschedule">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.CALL_PHONE" />

  <application
    android:name=".AcgScheduleApplication"
    android:icon="@drawable/ic_launcher"
    android:label="@string/acgschedule_module_name"
    android:roundIcon="@drawable/ic_launcher_round"
    android:theme="@style/AppTheme"
    tools:replace="android:label">
    <activity
      android:name="com.rabtman.acgschedule.AcgScheduleMainActivity"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.rabtman.acgschedule.mvp.ui.activity.ScheduleTimeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.rabtman.acgschedule.mvp.ui.activity.ScheduleNewActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.rabtman.acgschedule.mvp.ui.activity.ScheduleOtherActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.rabtman.acgschedule.mvp.ui.activity.ScheduleVideoActivity"
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:theme="@style/AppWithoutAnim" />
    <activity
      android:name="com.tencent.smtt.sdk.VideoActivity"
      android:alwaysRetainTaskState="true"
      android:configChanges="orientation|screenSize|keyboardHidden"
      android:exported="false"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="com.tencent.smtt.tbs.video.PLAY" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.rabtman.acgschedule.mvp.ui.activity.ScheduleDetailActivity"
      android:screenOrientation="portrait" />

    <meta-data
      android:name="com.rabtman.acgschedule.base.AcgScheduleConfig"
      android:value="ConfigModule" />
  </application>

</manifest>