<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.rabtman.acgpicture">

  <application
    android:icon="@drawable/ic_launcher"
    android:label="@string/acgpicture_module_name"
    android:name=".AcgPictureApplication"
    android:roundIcon="@drawable/ic_launcher_round"
    android:theme="@style/AppTheme"
    tools:replace="android:label">

    <activity
      android:name=".AcgPictureMainActivity"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <meta-data
      android:name="com.rabtman.acgpicture.base.AcgPictureConfig"
      android:value="ConfigModule" />
  </application>

</manifest>